// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$cerulean: #2a52be;

// Override Bootstrap default state colors

$primary: $cerulean;
